<!-- Edit campground modal START -->
<div class="modal fade bd-example-modal-lg" id="addCampModal" tabindex="-1" role="dialog" aria-labelledby="addCampModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content dialogBg">
			<div class="modal-header py-1">
				<h5 class="modal-title text-light" id="addCampModalLabel">Edit campground</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body pt-1">
				<form id="edit-campground-form" 
						action="/campgrounds/<%= campground._id %>?_method=PUT" 
						method="POST" enctype="multipart/form-data">
					<div class="row">
						<div class="col pr-0">
							<label for="name" class="mb-0">Name*</label>
							<div class="input-group input-group-sm">
								<input class="form-control m-0" type="text" name="name" id="name" 
									form="edit-campground-form" 
									value="<%= campground.name %>" required>
							</div>
						</div>
						<div class="col pl-1">
							<label for="price" class="mb-0">Price (per night)*</label>
							<div class="input-group input-group-sm rouned-sm">
								<div class="input-group-append">
									<span class="input-group-text bg-dark text-light border border-right-0 border-secondary rounded-left">US $</span>
								</div>
								<input class="form-control m-0" type="number" name="price" id="price" 
									form="edit-campground-form" 
									value="<%= campground.price %>" min="0" max="100000" step="0.01" required>
							</div>
						</div>
					</div>
					<label for="image" class="m-0">Image*</label>
					<div class="input-group input-group-sm">
						<input class="form-control-file bg-transparent m-0" type="file" name="image" id="image" 
						form="edit-campground-form" 
						value="<%= campground.image %>" accept="image/*">
					</div>
					<label for="location" class="m-0">Location*</label>
					<div class="input-group input-group-sm">
						<input class="form-control m-0" type="text" name="location" id="location" 
						form="edit-campground-form" 
						value="<%= campground.location %>" required>
					</div>
					<label for="description" class="m-0">Description*</label>
					<textarea class="form-control m-0" name="description" id="description" placeholder="Your campground text..." form="edit-campground-form" rows="5" required><%= campground.description %></textarea>
					<div class="form-group text-right my-1">
						<button class="btn btn-success btn-block">UPDATE</button>
					</div>
				</form>
			</div>	  
		</div>
	</div>
</div>
<!--Edit campground modal END-->

<!-- Delete campground modal START-->
<div class="modal fade" id="campDeleteModal" tabindex="-1" role="dialog" aria-labelledby="campDeleteModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content dialogBg">
			<div class="modal-header py-1">
				<h5 class="modal-title text-light" id="campDeleteModalLabel">Delete campground?</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				  <span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<h5 class="font-weight-normal">Are you sure you want to permanently remove this campground and the attached reviews from YelpCamp?</h5>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-outline-light btn-sm rounded-sm" data-dismiss="modal">Cancel</button>
				<form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
					<button class="btn btn-danger rounded-sm btn-sm" title="Delete">Delete</button>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- Delete campground modal END -->