<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <!-- <link href="https://fonts.googleapis.com/css?family=Noto+Serif+TC:400,700&amp;subset=chinese-traditional" rel="stylesheet"> -->
        <!-- <link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet"> -->
		<link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
		<div class="alertTop">
            <% if(error && error.length > 0){ %>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <%= error %>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
                </div>  
            <% } %>
            <% if(success && success.length > 0){ %>
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <%= success %>
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
                </div>  
            <% } %>
        </div>
		
        <nav class="navbar navbar-expand-md navbar-dark sticky-top">
            <div class="container-fluid">
                <!-- <a class="navbar-brand mr-2" href="/campgrounds"><i class="fab fa-yandex-international text-success"></i>elpCamp</a> -->
				<a class="navbar-brand mr-2" href="/"><i class="fab fa-yandex-international text-success bg-light headerBrand"></i></a>
                <!-- <a class="navbar-brand headerBrand mr-2 py-0 border-success text-success font-weight-bold btn btn-sm rounded-0" href="/campgrounds"><i class="fab fa-yandex-international text-success"></i></a> -->
				<a href="/campgrounds" class="nav-link text-light pl-0 pr-2">Campgrounds</a>
				<% if(currentUser) { %>
					<!-- <a href="/campgrounds/new" class="btn btn-outline-success rounded-sm btn-sm mr-auto" title="Creat a new campground">Create</a> -->
					<a href="/campgrounds/new" class="btn btn-outline-success rounded-sm btn-sm mr-auto" title="Creat a new campground"><i class="fas fa-plus"></i> Create</a>
                <% } else { %>
					<!-- <button class="btn btn-outline-success rounded-sm btn-sm mr-auto" data-toggle="modal" data-target="#createModal">
						Create
					</button> -->
				<span> | </span>
					<button class="btn btn-outline-light rounded-sm btn-sm border-0 px-1 ml-1 mr-0 mr-auto btnFontSizeChange" data-toggle="modal" data-target="#createModal">
						Create
					</button>
				<% } %>
				<a class="navbar-toggler border-0" role="button" data-toggle="collapse" href="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </a>
                
				<div class="collapse navbar-collapse text-center" id="navbarCollapse">
					<div class="flex-grow-1">	
                    <!-- <ul class=""> -->
                        <!-- <li class="nav-item <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>">
                            <a href="#" class="nav-link">About</a>
                        </li> -->
						<div class="nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>">	
							<form action="/campgrounds" method="GET" class="nav-link">                   
								<div class="input-group input-group-sm">
									<input type="text" name="search"  
											class="form-control rounded-left-sm font-weight-lighter" 
											placeholder="Search campground name, author, location, price or description" 
											aria-label="Search campgrounds" 
											aria-describedby="button-addon">
									<div class="input-group-append">
										<button type="sumbit" class="btn btn-outline-success btn-sm rounded-right-sm border-left-0" 
											 id="button-addon" title="Search campgrounds">
											<i class="fas fa-search"></i>
										</button>
									</div>
								</div>
							</form>
						</div>
                    <!-- </ul> -->
					</div>
                    <ul class="navbar-nav navbar-right">
                        <% if(!currentUser){ %>
                            <li class="nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>">
                                <a href="/" class="nav-link text-light">Login</a>
                            </li>
                            <li class="nav-item mt-1<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>">
                                <a href="/register" class="btn btn-outline-success rounded-sm btn-sm" title="Sign up">Join</a>
                            </li>
                        <% } else { %>
							<!-- <li class="nav-item <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>">
								<a href="/campgrounds/new" class="btn btn-outline-success rounded-sm" title="Add new campground">Create</a>
							</li> -->
							<li class="nav-item <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>">
                                <a href="/users/<%= currentUser._id %>" class="nav-link text-light">Profile</a>
                            </li>
                            <li class="nav-item mt-1<%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>">
                                <!-- <a href="/logout" class="nav-link text-light">Logout</a> -->
                            	<button class="btn btn-outline-light rounded-sm btn-sm border-0 btnFontSizeChange" data-toggle="modal" data-target="#logoutModal">
								  Logout
								</button>
							</li>   
                        <% } %>	

						<!-- <li class="nav-item <%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>">
							<a href="/" class="nav-link">About</a>
						</li> -->
                    </ul>
                </div>
            </div>
        </nav>
        
		<% include ../partials/createmodal %>
		<% include ../partials/logoutmodal %>