<% include ../partials/header %>
<% if(!currentUser){ %>
<div class="indexHeader jumbotron m-0 p-3 rounded-0">
    <div class="container-fluid lead">
        <h1 class="display-4">Welcome to YelpCamp</h1>
        <p class="d-none d-md-block">YelpCamp is a web app for camping lovers to exchange their campground information. Login to share your campground with people from all over the world!</p>
        <hr class="my-4 border-white d-none d-md-block">
        <p>View the campgrounds people recommend below!</p>
        <!-- <div class="addNewCampgroundButton rounded-pill">
            <a class="btn btn-success btn-lg rounded-pill font-weight-bold" 
                href="/campgrounds/new">Add New Campground 
                <i class="fas fa-angle-right"></i>
            </a>
        </div> -->
    </div>
</div>
<% } %>

<div id="main"> 
    <div>
        <div class="searchBar <% if(currentUser){ %> d-flex justify-content-between <% } %>">
            <div>
                <form action="/campgrounds" method="GET" class=" <% if(currentUser){ %> form-inline d-inline-flex <% } %>">
                    <!--<div class="form group">-->
                    <!--    <input type="text" name="search" class="form-control searchBorder border-0 font-weight-lighter" placeholder="Search all of YC">-->
                        <!--<input type="sumbit" value="search" class="btn btn-success">-->
                    <!--    <button type="sumbit" value="search" class="btn btn-outline-dark btn-sm border-0"><i class="fas fa-search"></i></button>-->
                    <!--</div>-->
                    
                    <div class="input-group input-group-sm">
                        <input type="text" name="search"  
                                class="form-control rounded-0 font-weight-lighter border-secondary searchBarInput" 
                                placeholder="Search campgrounds..." 
                                aria-label="Search campgrounds" 
                                aria-describedby="button-addon" autofocus>
                        <div class="input-group-append">
                            <button type="sumbit" class="btn btn-outline-success btn-sm rounded-0 border-0" 
                                type="button" id="button-addon">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <!--<div class="intro_title">-->
            <!--    Start your <span>advanture</span> today!-->
            <!--</div>-->
            <% if(currentUser){ %>
                <a href="/campgrounds/new" title="Add new campground" class="btn btn-outline-success btn-sm border-0 rounded-0">Add<i class="fas fa-campground"></i></a>
                <a href="/users/<%= currentUser._id %>" title="My campground" class="btn btn-outline-success btn-sm border-0 rounded-0">My<i class="fas fa-campground"></i></a>
            <% } %>            
        </div>
        
    </div>
    
    
    <div class="darkBg pt-3">
        <div class="container px-1">
            <div>
                <% if(noMatch !== null){ %>
                    <h5><%= noMatch %></h5>
                    <p>Or <a href="/campgrounds"> click here</a> to view all campgrounds.</p>
                <% } %>
				<% if(matchResult !== null){ %>
					<h5 class="mb-3"><%= matchResult %> <em><%= searchInput %></em></h5>
				<% } %>
            </div>
            <div class="card-columns">
            <!--<div class="row text-center pb-4" id="campground-grid">-->
                <% campgrounds.reverse().forEach(function(campground){ %>
                <!--<div class="col-6 col-md-4 col-xl-3 mb-2 p-1">-->
                    <a href="/campgrounds/<%= campground._id %>" title="<%= campground.name %>" class="index-camp-card">
                        <div class="card IndexCardBg mb-2">
                            <img src="<%= campground.image %>" class="card-img-top" alt="<%= campground.name %>">
                            <div class="card-body py-2">
                                <div class="card-title text-white text-left m-0"><%= campground.name %></div>    
                                <div class="py-2 text-white-50 text-left"><em><%= campground.author.username %></em></div>    
                                <div class="text-center pb-2 text-white">    
                                    <span class="fa fa-star text-muted <% if (campground.rating > 0.5) { %> checked <% } %>"></span>
                                    <span class="fa fa-star text-muted <% if (campground.rating > 1.5) { %> checked <% } %>"></span>
                                    <span class="fa fa-star text-muted <% if (campground.rating > 2.5) { %> checked <% } %>"></span>
                                    <span class="fa fa-star text-muted <% if (campground.rating > 3.5) { %> checked <% } %>"></span>
                                    <span class="fa fa-star text-muted <% if (campground.rating > 4.5) { %> checked <% } %>"></span>
                                    <span class="font-weight-bold"><%= campground.rating.toFixed(1) %></span>
                                    <span>(<%= campground.reviews.length %>)</span>
                                </div>
								<% if(campground.price != 0){ %>
                                	<div class="text-right text-white-50">$<%= campground.price %> USD/night</div>
                            	<% } %>
								<% if(campground.price == 0){ %>
									<div class="text-right text-white-50">free</div>
								<% } %>
							</div>
                        </div>
                    </a>
                <!--</div>-->
                <% }); %>
            <!--</div>-->
            </div>
        </div>
    </div>
    
    <div class="bg-success m-0 p-4">
        <div class="container-fluid">
            <a href="#" class="font-weight-lighter text-white">More from YC News<i class="fas fa-angle-right text-white pl-2"></i></a>
        </div>    
    </div>
    
</div>

<% include ../partials/footer %>
