<% include ../partials/header %>

    <header class="jumbotron mb-3 pt-5">
        <div class="container lead">
            <h1 class="display-4">Explore for a day</h1>
            <p class="d-none d-md-block">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries!</p>
            <hr class="my-4" style="border-color: white;">
            <p>View our hand-picked campgrounds from all over the world! </p>
            <p>
                <a class="btn btn-success btn-lg" href="/campgrounds/new">Add New Campground <i class="fas fa-angle-right text-white"></i></a>
            </p>
        </div>
    </header>
<main class="container">   
    <div class="text-right">
        <input type="text" class="searchBorder border-0">
        <a href="#"><i class="fas fa-search"></i></a>
    </div>
    <div class="text-center m-5 intro_title">
        <p>Start your advanture today!</p>
        <a href="#">My Campgrounds <i class="fas fa-angle-double-right"></i></a>
    </div>


    <div class="row text-center pb-4" id="campground-grid">
        <% campgrounds.forEach(function(campground){ %>
        <div class="col-6 col-md-4 mb-3">
            <div class="card">
                <img src="<%= campground.image %>" class="card-img-top" alt="<%= campground.name %>">
                <div class="card-body camp_name">
                    <!--<h5 class="card-title camp_name"><%= campground.name %></h5>-->
                    <a href="/campgrounds/<%= campground._id %>" class="card-title"><i class="fas fa-hand-point-right pr-2 text-success"></i><%= campground.name %></a>    
                </div>
            </div>
        </div>
        <% }); %>
    </div>
</main>
<% include ../partials/footer %>