<% include ../partials/header %>

    <div class="jumbotron m-0 pt-5">
        <div class="container-fluid lead">
            <h1 class="display-4">Explore for a day</h1>
            <p class="d-none d-md-block">YelpCamp is a web app for camping lovers to share their camping experiences with others. Simply click the add button below and post some stunning photos with detailed descriptions. You can also find out others' sharing stories that interest you. Enjoy your journey with our platform!</p>
            <hr class="my-4 border-white">
            <p>Share your trip experiense with people from all over the world! </p>
            <div class="font-weight-bolder">
                <a class="btn btn-success font-weight-light btn-lg" href="/campgrounds/new">Add New Campground <i class="fas fa-angle-right text-white"></i></a>
            </div>
        </div>
    </div>

<div id="main"> 
    <div>
        <div class="text-right lightGray">
            <form action="/campgrounds" method="GET" class="form-inline d-inline-flex">
                <!--<div class="form group">-->
                <!--    <input type="text" name="search" class="form-control searchBorder border-0 font-weight-lighter" placeholder="Search all of YC">-->
                    <!--<input type="sumbit" value="search" class="btn btn-success">-->
                <!--    <button type="sumbit" value="search" class="btn btn-outline-dark btn-sm border-0"><i class="fas fa-search"></i></button>-->
                <!--</div>-->
                
                <div class="input-group input-group-sm searchBorder">
                    <input type="text" name="search" class="form-control border-0 font-weight-lighter lightGray" placeholder="Search all of YC" aria-label="Search all of YC" aria-describedby="button-addon">
                    <div class="input-group-append">
                        <button type="sumbit" class="btn btn-outline-dark btn-sm border-0" type="button" id="button-addon"><i class="fas fa-search"></i></button>
                    </div>
                </div>
                
            </form>
        </div>
        
        <div class="text-center lightGray p-3 intro_title">
            <p>Start your <span>advanture</span> today!</p>
            <a href="#">My campgrounds <i class="fas fa-angle-right"></i></a>
        </div>
    </div>
    
    <div class="darkBg pt-4">
        <div class="container">
            <div class="card-columns">
            <!--<div class="row text-center pb-4" id="campground-grid">-->
                <% campgrounds.forEach(function(campground){ %>
                <!--<div class="col-6 col-md-4 col-xl-3 mb-2 p-1">-->
                    <a href="/campgrounds/<%= campground._id %>" class="index-camp-card">
                        <div class="card cardBg">
                            <img src="<%= campground.image %>" class="card-img-top" alt="<%= campground.name %>">
                            <div class="card-body px-1 py-2">
                                <!--<h5 class="card-title camp_name"><%= campground.name %></h5>-->
                                <div class="card-title indexCampName text-left m-0"><%= campground.name %></div>    
                                <div class="py-2 text-white-50 text-left"><em><%= campground.author.username %></em></div>    
                                <div class="text-center pb-2 text-white">    
                                    <span class="fa fa-star text-muted <% if (campground.rating > 0.5) { %> checked <% } %>"></span>
                                    <span class="fa fa-star text-muted <% if (campground.rating > 1.5) { %> checked <% } %>"></span>
                                    <span class="fa fa-star text-muted <% if (campground.rating > 2.5) { %> checked <% } %>"></span>
                                    <span class="fa fa-star text-muted <% if (campground.rating > 3.5) { %> checked <% } %>"></span>
                                    <span class="fa fa-star text-muted <% if (campground.rating > 4.5) { %> checked <% } %>"></span>
                                    <span class="font-weight-bold"><%= campground.rating.toFixed(1) %></span>
                                    <span> (<%= campground.reviews.length %>)</span>
                                </div>
                                <div class="text-right text-white-50">$<%= campground.price %>/per</div>
                            </div>
                        </div>
                    </a>
                <!--</div>-->
                <% }); %>
            <!--</div>-->
            </div>
        </div>
    </div>
    
    <div class="bg-success m-0 p-4">
        <div class="container-fluid">
            <a href="#" class="font-weight-lighter text-white">More from YC News<i class="fas fa-angle-right text-white pl-2"></i></a>
        </div>    
    </div>
    
</div>

<% include ../partials/footer %>