<% include ../partials/header %>
<div id="main" class="container">
    <div class="row">
        <div class="col-md-3 order-2 order-md-1 p-1">
            <!--<div class="list-group mb-2">-->
            <!--    <li class="list-group-item active">Info 1</li>-->
            <!--    <li class="list-group-item">Info 2</li>-->
            <!--    <li class="list-group-item">Info 3</li>   -->
            <!--</div>-->
            <!-- <div><p class="mb-0"><i class="fas fa-arrow-circle-down"></i> <%= campground.location %></p></div> -->
            <div class="mb-1 blackOpacityBg" id="map"></div>
            <!-- <div><p class="mb-0"><i class="fas fa-arrow-circle-up"></i> Click the red marker to view the address.</p></div> -->
        	<div class="darkTransparentBg text-center py-1 border border-secondary">
            	<!-- <h5>Review summary</h5> -->
                <h1 class=""><%= campground.rating.toFixed(1) %></h1>
				<div>
					<span class="fa fa-star <% if (campground.rating > 0.5) { %> checked <% } %>"></span>
					<span class="fa fa-star <% if (campground.rating > 1.5) { %> checked <% } %>"></span>
					<span class="fa fa-star <% if (campground.rating > 2.5) { %> checked <% } %>"></span>
					<span class="fa fa-star <% if (campground.rating > 3.5) { %> checked <% } %>"></span>
					<span class="fa fa-star <% if (campground.rating > 4.5) { %> checked <% } %>"></span>
				</div>
				<div>
					<span>(<%= campground.reviews.length %> ratings)</span>
				</div>
			</div>
		</div>
        
        <div class="col-md-9 order-1 order-md-2 pt-1 pb-0 px-0">
            <!-- <h4 class="m-0 py-0 text-center"><a href="<%= campground.image %>" class="showPageCampName"><%= campground.name %></a></h4> -->
            <div class="d-flex justify-content-center rounded-0 border border-bottom-0 border-secondary blackOpacityBg">
                <div class="p-0">
                    <div class="card darkBg rounded-0">
                        <img src="<%= campground.image %>" class="card-img rounded-0 showPageImage" alt="<%= campground.name %>">
                    </div>
                </div>
            </div>
            <div class="card darkBg border border-secondary rounded-0">
                <div class="darkTransparentBg">
					<div class="p-1">
						<a href="<%= campground.image %>" class="showPageCampName"><%= campground.name %></a>
					</div>
					<hr class="my-0">
                    <div class="d-flex justify-content-between text-muted p-1">   
                        <!--<h5 class="card-title font-weight-bold camp_name_show"><%= campground.name %></h5>-->
                        <em>Submitted By <a href="/users/<%= campground.author.id %>" class="text-light"><%= campground.author.username %></a>, <span class="d-inline-block"><%= moment(campground.createdAt).fromNow() %></span></em>
                        <% if(campground.price != 0){ %>
							<div>$ <%= campground.price %> USD/night</div>
						<% } %>
						<% if(campground.price == 0){ %>
							<div>free</div>
						<% } %>
                    </div>
                    
                    <hr class="my-0">
					
					<div class="p-1">
						<i class="fas fa-map-marker-alt"></i>&nbsp; <%= campground.location %>
					</div>	
					
                    <hr class="my-0">
					
                    <div class="card-text contentFontSize p-1">
						<%= campground.description %>
					</div>
                    
                    <% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser &&  currentUser.isAdmin){ %>
						<div class="text-right">
							<!--Edit campground button-->
							<button type="button" class="btn btn-outline-warning border-0 rounded-sm" data-toggle="modal" data-target="#addCampModal">
							  	<i class="fas fa-pen"></i>
							</button>
                            <!--Delete campground button-->
                            <!-- <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-outline-light border-0 rounded-sm" title="Delete"><i class="far fa-trash-alt"></i></button>
                            </form> -->
							<button type="button" class="btn btn-outline-light border-0 rounded-sm" data-toggle="modal" data-target="#campDeleteModal">
								 <i class="far fa-trash-alt"></i>
							</button>
                        </div> 
						<!-- Edit campground modal START -->
						<div class="modal fade bd-example-modal-lg" id="addCampModal" tabindex="-1" role="dialog" aria-labelledby="addCampModalLabel" aria-hidden="true">
						  	<div class="modal-dialog modal-lg" role="document">
								<div class="modal-content dialogBg">
							  		<div class="modal-header py-1">
										<h5 class="modal-title text-light" id="addCampModalLabel">Edit campground</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										  <span aria-hidden="true">&times;</span>
										</button>
							  		</div>
							  		<div class="modal-body pt-1">
										<form id="edit-campground-form" 
												action="/campgrounds/<%= campground._id %>?_method=PUT" 
												method="POST" enctype="multipart/form-data">
											<div class="row">
												<div class="col pr-0">
													<label for="name" class="mb-0">Name*</label>
													<div class="input-group input-group-sm">
														<input class="form-control m-0" type="text" name="name" id="name" 
															form="edit-campground-form" 
															value="<%= campground.name %>" required>
													</div>
												</div>
												<div class="col pl-1">
													<label for="price" class="mb-0">Price (per night)*</label>
													<div class="input-group input-group-sm">
														<input class="form-control m-0" type="number" name="price" id="price" 
															form="edit-campground-form" 
															value="<%= campground.price %>" min="0" step="0.01" required>
														<div class="input-group-append">
															<span class="input-group-text bg-dark text-light border border-left-0 border-secondary">USD</span>
														</div>
													</div>
												</div>
											</div>
											<label for="image" class="m-0">Image*</label>
											<div class="input-group input-group-sm">
												<input class="form-control-file bg-transparent m-0" type="file" name="image" id="image" 
												form="edit-campground-form" 
												value="<%= campground.image %>" accept="image/*">
											</div>
											<label for="location" class="m-0">Location*</label>
											<div class="input-group input-group-sm">
												<input class="form-control m-0" type="text" name="location" id="location" 
												form="edit-campground-form" 
												value="<%= campground.location %>" required>
											</div>
											<label for="description" class="m-0">Description*</label>
											<textarea class="form-control m-0" name="description" id="description" placeholder="Your campground text..." form="edit-campground-form" rows="5" required><%= campground.description %></textarea>
											<div class="form-group text-right my-1">
												<button class="btn btn-warning btn-block">UPDATE</button>
											</div>
										</form>
									</div>	  
							  	</div>
							</div>
						</div>
                    	<!--Edit campground modal END-->
					
						<!-- Delete campground modal START-->
						<div class="modal fade" id="campDeleteModal" tabindex="-1" role="dialog" aria-labelledby="campDeleteModalLabel" aria-hidden="true">
						  	<div class="modal-dialog" role="document">
								<div class="modal-content dialogBg">
							  		<div class="modal-header py-1">
										<h5 class="modal-title text-light" id="campDeleteModalLabel">Delete campground?</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										  <span aria-hidden="true">&times;</span>
										</button>
							  		</div>
							  		<div class="modal-body">
										<h5 class="font-weight-normal">Are you sure you want to permanently remove this campground and the attached reviews from YelpCamp?</h5>
							  		</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-outline-light btn-sm rounded-sm" data-dismiss="modal">Cancel</button>
										<form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
											<button class="btn btn-danger rounded-sm btn-sm" title="Delete">Delete</button>
										</form>
									</div>
								</div>
							</div>
						</div>
						<!-- Delete campground modal END -->
                    <% } %>
                </div>
            </div>
        </div>
    </div>    
    <!-- <div class=" row justify-content-end"> 
    <div class="col-md-9">
        <div class="text-center">
            <a class="btn btn-outline-success btnOutlineGreen my-4" 
                href="/campgrounds"
                title="Go back to home page">
                <i class="fas fa-chevron-left"></i> 
                Go back
                <i class="fas fa-home"></i>
            </a>
        </div>
    </div>
    </div>     -->
        
    <div class="row justify-content-end"> 
    <div class="col-md-9 px-0">
        <div class="d-flex justify-content-between mx-0 mt-4 px-1" id="editReviewPosition">
            <div class="pinkText">
				<h4>Reviews</h4>
			</div>
			<!-- Add review button -->
            <div id="addReviewPosition">
				<button type="button" data-toggle="modal" data-target="#addReviewModal"
					class="btn btn-outline-success border-0 rounded-sm" <% if (currentUser && campground.reviews.some
                    (function (review) {
                    	return review.author.id.equals(currentUser._id)})) { %>
                     style="color: transparent;" disabled<% } %>>
				  	<i class="fas fa-plus"></i>
				</button>
            </div>    
        </div>
		
		<!-- Add review modal START-->
		<div class="modal fade bd-example-modal-lg" id="addReviewModal" tabindex="-1" role="dialog" aria-labelledby="addReviewModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content dialogBg">
				  	<div class="modal-header py-1">
						<h5 class="modal-title text-light" id="addReviewModalLabel">Rate & Review</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						  <span aria-hidden="true">&times;</span>
						</button>
				  	</div>
				  	<div class="modal-body pt-1">
						<% if(!currentUser) { %>
							<h5 class="font-weight-normal">You need to login before you can do that.</h5>
							<div class="text-right pt-3">
								<a href="/register" class="btn btn-outline-light">Join free</a>
								<a href="/" class="btn btn-light">Login <i class="fas fa-sign-in-alt text-success"></i></a>
							</div>
						<% } else {%>
							<form id="add-review-form" action="/campgrounds/<%= campground._id %>#addReviewPosition" method="POST">							
								<fieldset class="starability-basic pt-1 m-auto">
								  <input type="radio" id="rate0" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
								  <input type="radio" id="rate1" name="review[rating]" value="1" />
								  <label for="rate1" title="Terrible">1 star</label>
								  <input type="radio" id="rate2" name="review[rating]" value="2" />
								  <label for="rate2" title="Not good">2 stars</label>
								  <input type="radio" id="rate3" name="review[rating]" value="3" />
								  <label for="rate3" title="Average">3 stars</label>
								  <input type="radio" id="rate4" name="review[rating]" value="4" />
								  <label for="rate4" title="Very good">4 stars</label>
								  <input type="radio" id="rate5" name="review[rating]" value="5" />
								  <label for="rate5" title="Amazing">5 stars</label>
								</fieldset>
								
								<div class="form-group mb-1">
									<textarea form="add-review-form" class="form-control" type="text" name="review[text]" placeholder="Share your experience..." rows="6"></textarea>
								</div>
								<div class="form-group my-1">
									<button class="btn btn-success btn-block reviewPostButton">POST</button>
								</div>
							</form>
						<% } %>
				  	</div>
				</div>
			</div>
		</div>
		<!-- Add review modal END-->
			
        <hr class="mt-0">
                
        <% if (!campground.reviews) { %>
            <p><em class="text-muted">No reviews yet.</em></p>
        <% } else {%>
			<% campground.reviews.forEach(function(review){ %>
				<% if(currentUser && review.author.id.equals(currentUser._id)){ %>
					<div class="px-1">
						<span class="darkTransparentBg">Your review</span>
						<div>
							
							<span><a href="/users/<%= review.author.id %>" class="text-light"><%= review.author.username %></a>,</span>
							<em class="text-muted review-date pl-1 d-inline">
								<%= moment(review.updatedAt).fromNow() %>
							</em>
						</div>
						<div>
							<%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %>
							<%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
						</div>
						<div class="contentFontSize">
							<%= review.text %>
						</div>

						<div>						
							<!-- Edit review button -->
							<button type="button" class="btn btn-outline-warning border-0 rounded-sm" data-toggle="modal" data-target="#editReviewModal<%= review._id %>">
								<i class="fas fa-pen"></i>
							</button>

							<!-- Delete review button -->
							<button type="button" class="btn btn-outline-light border-0 rounded-sm" data-toggle="modal" data-target="#deleteReview">
								 <i class="far fa-trash-alt"></i>
							</button>
						</div>

						<!--Edit review modal START-->
						<div class="modal fade bd-example-modal-lg" id="editReviewModal<%= review._id %>" tabindex="-1" role="dialog" aria-labelledby="editReviewModallabel<%= review._id %>" aria-hidden="true">
							<div class="modal-dialog modal-lg" role="document">
								<div class="modal-content dialogBg">
									<div class="modal-header py-1">
										<h5 class="modal-title text-light" id="editReviewModallabel<%= review._id %>">Edit review</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>	
									</div>
									<div class="modal-body pt-1">
										<form id="edit-review-form<%= review._id %>"
											action="/campgrounds/<%= campground._id %>/<%= review._id %>?_method=PUT#editReviewPosition"
											method="POST">
											
											<fieldset class="starability-basic pt-1 m-auto">
												  <input form="edit-review-form<%= review._id %>" type="radio" id="author-edit-rate0" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
												  <input form="edit-review-form<%= review._id %>" type="radio" id="author-edit-rate1" name="review[rating]" value="1" />
												  <label for="author-edit-rate1" title="Terrible">1 star</label>
												  <input form="edit-review-form<%= review._id %>" type="radio" id="author-edit-rate2" name="review[rating]" value="2" />
												  <label for="author-edit-rate2" title="Not good">2 stars</label>
												  <input form="edit-review-form<%= review._id %>" type="radio" id="author-edit-rate3" name="review[rating]" value="3" />
												  <label for="author-edit-rate3" title="Average">3 stars</label>
												  <input form="edit-review-form<%= review._id %>" type="radio" id="author-edit-rate4" name="review[rating]" value="4" />
												  <label for="author-edit-rate4" title="Very good">4 stars</label>
												  <input form="edit-review-form<%= review._id %>" type="radio" id="author-edit-rate5" name="review[rating]" value="5" />
												  <label for="author-edit-rate5" title="Amazing">5 stars</label>
											</fieldset>

											<div class="form-group my-1">
												<textarea class="form-control inputTextBlack" name="review[text]"
														placeholder="Share your experience..." form="edit-review-form<%= review._id %>" rows="6"><%= review.text %></textarea>
											</div>
											<div class="form-group my-1">
												<button class="btn btn-warning rounded-sm btn-block">UPDATE</button>
											</div>
										</form>
										
										<script>
											$('#author-edit-rate<%= review.rating %>').prop('checked', true);
										</script>
										
									</div>
								</div>
							</div>
						</div>
						<!--Edit review modal END--> 

						<!-- Delete review modal START-->
						<div class="modal fade" id="deleteReview" tabindex="-1" role="dialog" aria-labelledby="deleteReviewLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content dialogBg">
									<div class="modal-header py-1">
										<h5 class="modal-title text-light" id="deleteReviewLabel">Delete review?</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										  <span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<h5 class="font-weight-normal">Are you sure you want to permanently remove this review from YelpCamp?</h5>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-outline-light btn-sm rounded-sm" data-dismiss="modal">Cancel</button>
										<form class="delete-form" action="/campgrounds/<%=campground._id %>/<%=review._id %>?_method=DELETE#editReviewPosition" method="POST">
											<button class="btn btn-danger rounded-sm btn-sm" title="Delete">Delete</button>
										</form>
									</div>
								</div>
							</div>
						</div>
						<!-- Delete review modal END -->
						<hr>
					</div>
		
				<% } %>
			<% }); %>
			
            <% campground.reviews.forEach(function(review){ %>
				<% if(currentUser && (!(review.author.id.equals(currentUser._id)))){ %>
					<div class="px-1">
						<div id="editReviewPositionAdmin">
							<!-- <i class="fas fa-user"></i> -->
							<!--<div class="card darkBg border-0">-->
							<!--    <img src="<%= review.author.avatar %>" class="card-img-top rounded-sm" style="max-width:60px;" alt="user profile image">-->
							<!--</div>-->
							<span><a href="/users/<%= review.author.id %>" class="text-light"><%= review.author.username %></a>,</span>
							<em class="text-muted review-date pl-1 d-inline">
								<%= moment(review.updatedAt).fromNow() %>
							</em>
						</div>
						<div>
							<%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %>
							<%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
						</div>
						<div class="contentFontSize">
							<%= review.text %>
						</div>
					</div>
					<% if(currentUser &&  currentUser.isAdmin){ %>
						<div>						
							<!-- Edit review button -->
							<button type="button" class="btn btn-outline-warning border-0 rounded-sm" data-toggle="modal" data-target="#editReviewModal<%= review._id %>">
								<i class="fas fa-pen"></i>
							</button>

							<!-- Delete review button -->
							<button type="button" class="btn btn-outline-light border-0 rounded-sm" data-toggle="modal" data-target="#adminDeleteReviewModal<%= review._id %>">
								 <i class="far fa-trash-alt"></i>
							</button>
						</div>
		
						<!--Admin edit review modal START-->
						<div class="modal fade bd-example-modal-lg" id="editReviewModal<%= review._id %>" tabindex="-1" role="dialog" aria-labelledby="editReviewModallabel<%= review._id %>" aria-hidden="true">
							<div class="modal-dialog modal-lg" role="document">
								<div class="modal-content dialogBg">
									<div class="modal-header py-1">
										<h5 class="modal-title text-light" id="editReviewModallabel<%= review._id %>">Edit review</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>	
									</div>
									<div class="modal-body pt-1">
										<form id="admin-edit-review-form<%= review._id %>"
											action="/campgrounds/<%= campground._id %>/<%= review._id %>?_method=PUT#editReviewPositionAdmin"
											method="POST">
											
											<fieldset class="starability-basic pt-1 m-auto">
												  <input form="admin-edit-review-form<%= review._id %>" type="radio" id="admin-edit-rate0" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
												  <input form="admin-edit-review-form<%= review._id %>" type="radio" id="admin-edit-rate1" name="review[rating]" value="1" />
												  <label for="admin-edit-rate1" title="Terrible">1 star</label>
												  <input form="admin-edit-review-form<%= review._id %>" type="radio" id="admin-edit-rate2" name="review[rating]" value="2" />
												  <label for="admin-edit-rate2" title="Not good">2 stars</label>
												  <input form="admin-edit-review-form<%= review._id %>" type="radio" id="admin-edit-rate3" name="review[rating]" value="3" />
												  <label for="admin-edit-rate3" title="Average">3 stars</label>
												  <input form="admin-edit-review-form<%= review._id %>" type="radio" id="admin-edit-rate4" name="review[rating]" value="4" />
												  <label for="admin-edit-rate4" title="Very good">4 stars</label>
												  <input form="admin-edit-review-form<%= review._id %>" type="radio" id="admin-edit-rate5" name="review[rating]" value="5" />
												  <label for="admin-edit-rate5" title="Amazing">5 stars</label>
											</fieldset>

											<div class="form-group my-1">
												<textarea class="form-control inputTextBlack" name="review[text]"
														placeholder="Share your experience..." form="edit-review-form<%= review._id %>" rows="8"><%= review.text %></textarea>
											</div>
											<div class="form-group my-1">
												<button class="btn btn-warning rounded-sm btn-block">UPDATE</button>
											</div>
										</form>
										
										<script>
											$('#admin-edit-rate<%= review.rating %>').prop('checked', true);
										</script>
									</div>
								</div>
							</div>
						</div>
						<!--Admin edit review modal END--> 

						<!-- Admin delete review modal START-->
						<div class="modal fade" id="adminDeleteReviewModal<%= review._id %>" tabindex="-1" role="dialog" aria-labelledby="adminDeleteReviewModalLabel<%= review._id %>" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content dialogBg">
									<div class="modal-header py-1">
										<h5 class="modal-title text-light" id="adminDeleteReviewModalLabel<%= review._id %>">Delete review?</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										  <span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<h5 class="font-weight-normal">Are you sure you want to permanently remove this review from YelpCamp?</h5>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-outline-light btn-sm rounded-sm" data-dismiss="modal">Cancel</button>
										<form class="delete-form" id="delete-review-form-admin<%= review._id %>" action="/campgrounds/<%=campground._id %>/<%=review._id %>?_method=DELETE#editReviewPositionAdmin" method="POST">
											<button class="btn btn-danger rounded-sm btn-sm" title="Delete">Delete</button>
										</form>
									</div>
								</div>
							</div>
						</div>
						<!-- Admin delete review modal END -->
					<% } %>
                <hr>
				<% } %>		
            <% }); %>
		
			<% if(!currentUser){ %>
				<% campground.reviews.forEach(function(review){ %>
				<div class="px-1">
					<div>
						<!-- <i class="fas fa-user"></i> -->
						<!--<div class="card darkBg border-0">-->
						<!--    <img src="<%= review.author.avatar %>" class="card-img-top rounded-sm" style="max-width:60px;" alt="user profile image">-->
						<!--</div>-->
						<span><a href="/users/<%= review.author.id %>" class="text-light"><%= review.author.username %></a>,</span>
						<em class="text-muted review-date pl-1 d-inline">
							<%= moment(review.updatedAt).fromNow() %>
						</em>
					</div>
					<div>
						<%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %>
						<%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
					</div>
					<div class="contentFontSize">
						<%= review.text %>
					</div>
				</div>
                <hr>
            	<% }); %>	
			<% } %>		
		
        <% } %>    
            
        <div class="text-center m-3">
            <a href="/campgrounds/<%= campground._id %>/reviews" class="btn btn-outline-secondary btnOutlineGreen disabled"> 
                <i class="fas fa-plus"></i>
                See more reviews
            </a>
        </div>
    </div>
    </div>
    
	<!-- Map script -->
    <script>
        function initMap() {
            var lat = <%= campground.lat %>;
            var lng = <%= campground.lng %>;
            var center = {lat: lat, lng: lng };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 8,
                center: center,
                scrollwheel: false
            });
            var contentString = `
              <strong><%= campground.location %></strong>
            `
            var infowindow = new google.maps.InfoWindow({
              content: contentString
            });
            var marker = new google.maps.Marker({
                position: center,
                map: map
            });
            marker.addListener('click', function() {
                infowindow.open(map, marker);
            });
        }		
	</script>
	
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDK-J-9L3iNEdjxQ7pVxoe-MKdOxXhlZjo&callback=initMap"></script>
    
</div>    
<% include ../partials/footer %>
