<% include ../partials/header %>
<div id="main" class="container">
    <div class="row">
        <div class="col-md-3 order-2 order-md-1 mt-2">
            <!--<div class="list-group mb-2">-->
            <!--    <li class="list-group-item active">Info 1</li>-->
            <!--    <li class="list-group-item">Info 2</li>-->
            <!--    <li class="list-group-item">Info 3</li>   -->
            <!--</div>-->
            <div class="font-weight-bold">Location:</div>
            <div id="map" style="color: black;"></div>
            <div><p class="mb-0"><i class="fas fa-arrow-circle-up"></i> Click the red marker to view the address.</p></div>
        </div>
        
        <div class="col-md-9 order-1 order-md-2 mt-2">
            <div class="m-0 py-0"><a href="<%= campground.image %>" class="font-weight-bold showPageCampName"><%= campground.name %></a></div>
            <div class="d-flex justify-content-center rounded-top" style="background-color: black;">
                <div class="p-0">
                    <div class="card border-0 darkBg">
                        <img src="<%= campground.image %>" class="card-img rounded-0 showPageImage" alt="<%= campground.name %>">
                    </div>
                </div>
            </div>
            <div class="card border-0 darkBg">
                <div class="card-body p-2 darkTransparentBg">
                    <div class="d-flex justify-content-between text-muted pb-1">   
                        <!--<h5 class="card-title font-weight-bold camp_name_show"><%= campground.name %></h5>-->
                        <em>Submitted By <a href="/users/<%= campground.author.id %>"><%= campground.author.username %></a>, <span class="d-inline-block"><%= moment(campground.createdAt).fromNow() %></span></em>
                        <div>$<%= campground.price %>/per</div>
                    </div>
                    
                    <hr class="my-0">
                    
                    <div class="card-text contentFontSize"><%= campground.description %></div>
                    
                    <% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser &&  currentUser.isAdmin){ %>
                        <div class="text-right">
                            <!--Edit campground button-->
                            <a class="btn btn-outline-warning border-0 rounded-sm" 
                                role="button" data-toggle="collapse" 
                                href="#collapseEdit" 
                                aria-expanded="false" aria-controls="collapseEdit"
                                title="Edit">
                                <i class="fas fa-pen"></i>
                            </a>
                            <!--Delete campground button-->
                            <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-outline-secondary border-0 rounded-sm" title="Delete"><i class="fas fa-trash-alt"></i></button>
                            </form>
                        </div> 
                        
                        <!--Collapse edit a campground form START-->
                        <div class="collapse shadow-lg" id="collapseEdit">
                            <div class="card-body collapse-edit-style darkTransparentBg p-2">
                                <h5>Edit your campground</h5>
                                <form id="edit-campground-form" 
                                        action="/campgrounds/<%= campground._id %>?_method=PUT" 
                                        method="POST" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input class="form-control" type="text" name="name" id="name" 
                                            form="edit-campground-form" 
                                            value="<%= campground.name %>" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="price">Price</label>
                                        <input class="form-control" type="number" name="price" id="price" 
                                            form="edit-campground-form" 
                                            value="<%= campground.price %>" min="0.01" step="0.01" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="image">Image</label>
                                        <input class="form-control-file" type="file" name="image" id="image" 
                                        form="edit-campground-form" 
                                        value="<%= campground.image %>" accept="image/*">
                                    </div>
                                    <div class="form-group">
                                        <label for="location">Location</label>
                                        <input class="form-control" type="text" name="location" id="location" 
                                        form="edit-campground-form" 
                                        value="<%= campground.location %>" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="description">Description</label>
                                        <textarea class="form-control" name="description" id="description" placeholder="Your campground text..." form="edit-campground-form" rows="4" required><%= campground.description %></textarea>
                                    </div>
                                    <div class="form-group text-right">
                                        <button class="btn btn-warning btn-block">UPDATE</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!--Collapse edit a campground END-->
                    <% } %>
                </div>
            </div>
        </div>
    </div>    
    <div class=" row justify-content-end"> 
    <div class="col-md-9">
        <div class="text-center">
            <a class="btn btn-outline-success btnOutline-green my-4" 
                href="/campgrounds"
                title="Go back to home page">
                <i class="fas fa-chevron-left"></i> 
                Go back
                <i class="fas fa-home"></i>
            </a>
        </div>
    </div>
    </div>    
        
    <div class="row justify-content-end"> 
    <div class="col-md-9">
        <div class="darkTransparentBg text-center py-3">
            <h5>Review summary</h5>
                <h2 class="display-4"><strong><%= campground.rating.toFixed(1) %></strong></h2>
                <span class="fa fa-star <% if (campground.rating > 0.5) { %> checked <% } %>"></span>
                <span class="fa fa-star <% if (campground.rating > 1.5) { %> checked <% } %>"></span>
                <span class="fa fa-star <% if (campground.rating > 2.5) { %> checked <% } %>"></span>
                <span class="fa fa-star <% if (campground.rating > 3.5) { %> checked <% } %>"></span>
                <span class="fa fa-star <% if (campground.rating > 4.5) { %> checked <% } %>"></span>
                <span>(<%= campground.reviews.length %> ratings)</span>
        </div>
                
        <div class="d-flex justify-content-between mx-0 mt-4">
            <div class="pinkText"><h4>Reviews</h4></div>
            <div>
                <a class="btn btn-outline-success border-0 rounded-sm <% if (currentUser && campground.reviews.some
                    (function (review) {
                    return review.author.id.equals(currentUser._id)})) { %>
                    disabled <% } %>" 
                    role="button" data-toggle="collapse" 
                    href="#collapseReview" aria-expanded="false" 
                    aria-controls="collapseReview"
                    title="Write a review">
                    <i class="fas fa-plus"></i>
                </a>
                
            </div>    
        </div>
            
        <!--Collapse Add a review form START-->
        <div class="collapse shadow-lg rounded-lg darkTransparentBg" id="collapseReview">
            <div class="collapse-review-style p-3">
                <% if(!currentUser) { %>
                <!--If the user is not logged in, direct him to the login page-->
                <h5>You need to login before you can comment. 
                    <a href="/login">Click here</a> to go to the login page.
                </h5>
                <% } else {%>
                    <form id="add-review-form" action="/campgrounds/<%= campground._id %>/reviews" method="POST">
                        <div class="form-group">
                            <label for="rating">Rate & Review</label>
                            <fieldset class="starability-basic form-group" id="rating">
                                <div>
                                    <input form="add-review-form" type="radio" id="first-rate5" name="review[rating]" value="5" checked />
                                    <label for="first-rate5" title="5 stars - Amazing">
                                        <%- '<span class="fa fa-star checked"></span>'.repeat(5) %>
                                    </label>
                                </div>
                                <div>
                                    <input form="add-review-form" type="radio" id="first-rate4" name="review[rating]" value="4" />
                                    <label for="first-rate4" title="4 stars - Very good">
                                        <%- '<span class="fa fa-star checked"></span>'.repeat(4) %>
                                    </label>
                                </div>
                                <div>
                                    <input form="add-review-form" type="radio" id="first-rate3" name="review[rating]" value="3" />
                                    <label for="first-rate3" title="3 stars - Average">
                                        <%- '<span class="fa fa-star checked"></span>'.repeat(3) %>
                                    </label>
                                </div>
                                <div>
                                    <input form="add-review-form" type="radio" id="first-rate2" name="review[rating]" value="2" />
                                    <label for="first-rate2" title="2 stars - Not good">
                                        <%- '<span class="fa fa-star checked"></span>'.repeat(2) %>
                                    </label>
                                </div>
                                <div>
                                    <input form="add-review-form" type="radio" id="first-rate1" name="review[rating]" value="1" />
                                    <label for="first-rate1" title="1 star - Terrible">
                                        <%- '<span class="fa fa-star checked"></span>'.repeat(1) %>
                                    </label>
                                </div>
                            </fieldset>
                        </div>
                        <div class="form-group">
                            <textarea form="add-review-form" class="form-control" type="text" name="review[text]" placeholder="Share your experience..." rows="4"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-block">POST</button>
                        </div>
                    </form>
                <% } %>
            </div>
        </div>
        <!--Collapse Add a review form END-->
                
        <hr class="mt-0">
                
        <% if (campground.rating === 0) { %>
            <p><em class="text-muted">No reviews yet.</em></p>
        <% } else {%>
            <% campground.reviews.forEach(function(review){ %>
                <div>
                    <!--<i class="fas fa-user"></i>-->
                    <span><img src="<%= review.author.avatar %>" style="max-width:50px;" alt="user profile image"></span>
                    <span><a href="/users/<%= review.author.id %>"><%= review.author.username %></a>,</span>
                    <em class="text-muted review-date pl-1 d-inline">
                        <%= moment(review.updatedAt).fromNow() %>
                    </em>
                </div>
                <div>
                    <%- '<span class="fa fa-star checked"></span>'.repeat(review.rating) %>
                    <%- '<span class="fa fa-star"></span>'.repeat(5 - review.rating) %>
                </div>
                <div class="contentFontSize"><%= review.text %></div>

                <% if(currentUser && review.author.id.equals(currentUser._id) || currentUser &&  currentUser.isAdmin){ %>
                    <div>
                        <a class="btn btn-outline-warning border-0 rounded-sm"
                            role="button"
                            data-toggle="collapse"
                            href="#collapseEdit<%= review._id %>"
                            aria-expanded="false"
                            aria-controls="collapseEdit<%= review._id %>"
                            title="Edit">
                            <i class="fas fa-pen"></i>
                        </a>
                        <form class="delete-form" action="/campgrounds/<%=campground._id %>/reviews/<%=review._id %>?_method=DELETE" method="POST">
                             <button class="btn btn-outline-secondary border-0 rounded-sm" title="Delete"><i class="fas fa-trash-alt"></i></button>
                        </form>
                    </div>
                    
                    <!--Collapse edit review form start-->
                    <div class="collapse shadow-lg" id="collapseEdit<%= review._id %>">
                        <div class="collapse-edit-style darkTransparentBg p-3">
                            <form id="edit-review-form<%= review._id %>"
                                action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=PUT"
                                method="POST">
                                <h5>Edit your review</h5>
                                <div class="form-group">
                                    <fieldset class="starability-basic form-group" id="rating">
                                        <div>
                                            <input form="edit-review-form<%= review._id %>" 
                                                    type="radio" id="first-rate5"
                                                    name="review[rating]" value="5" />
                                            <label for="first-rate5" title="5 stars - Amazing">
                                                <%- '<span class="fa fa-star checked"></span>'.repeat(5) %>
                                            </label>
                                        </div>
                                        <div>
                                            <input form="edit-review-form<%= review._id %>" 
                                                    type="radio" id="first-rate4"
                                                    name="review[rating]" value="4" />
                                            <label for="first-rate4" title="4 stars - Very good">
                                                <%- '<span class="fa fa-star checked"></span>'.repeat(4) %>
                                            </label>
                                        </div>
                                        <div>
                                            <input form="edit-review-form<%= review._id %>" type="radio" id="first-rate3"
                                                    name="review[rating]" value="3" />
                                            <label for="first-rate3" title="3 stars - Average">
                                                <%- '<span class="fa fa-star checked"></span>'.repeat(3) %>
                                            </label>
                                        </div>
                                        <div>
                                            <input form="edit-review-form<%= review._id %>" type="radio" id="first-rate2"
                                                    name="review[rating]" value="2" />
                                            <label for="first-rate2" title="2 stars - Not good">
                                                <%- '<span class="fa fa-star checked"></span>'.repeat(2) %>
                                            </label>
                                        </div>
                                        <div>
                                            <input form="edit-review-form<%= review._id %>" type="radio" id="first-rate1"
                                                    name="review[rating]" value="1" />
                                            <label for="first-rate1" title="1 star - Terrible">
                                                <%- '<span class="fa fa-star checked"></span>'.repeat(1) %>
                                            </label>
                                        </div>
                                    </fieldset>
                                </div>

                                
                                <div class="form-group">
                                    <textarea class="form-control inputTextBlack" name="review[text]"
                                            placeholder="Share your experience..." form="edit-review-form<%= review._id %>" rows="4"><%= review.text %></textarea>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-warning rounded-sm btn-block">UPDATE</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--Collapse edit review form end-->
                    
                <% } %>
                <hr>
            <% }); %>
        <% } %>    
            
        <div class="text-center m-3">
            <a href="/campgrounds/<%= campground._id %>/reviews" class="btn btn-outline-success btnOutline-green disabled"> 
                <i class="fas fa-plus"></i>
                See more reviews
            </a>
        </div>
    </div>
    </div>
        
   
    
    <script>
        function initMap() {
            var lat = <%= campground.lat %>;
            var lng = <%= campground.lng %>;
            var center = {lat: lat, lng: lng };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 8,
                center: center,
                scrollwheel: false
            });
            var contentString = `
              <strong><%= campground.location %></strong>
            `
            var infowindow = new google.maps.InfoWindow({
              content: contentString
            });
            var marker = new google.maps.Marker({
                position: center,
                map: map
            });
            marker.addListener('click', function() {
                infowindow.open(map, marker);
            });
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDK-J-9L3iNEdjxQ7pVxoe-MKdOxXhlZjo&callback=initMap"></script>
    
</div>    
<% include ../partials/footer %>
