<% include ../partials/header %>
    <div class="row">
        <div class="col-md-3">
            <div id="map"></div>
        </div>
        <div class="col-md-9">
            <div class="card mb-4">
                <img src="<%= campground.image %>" class="card-img-top" alt="<%= campground.name %>">
                <div class="card-body">
                    <p class="float-right">$<%= campground.price %>/night</p>
                    <h5 class="card-title"><%= campground.name %></h5>
                    <p class="text-muted">
                        <em>Submitted By <%= campground.author.username %>, <%= moment(campground.createdAt).fromNow() %></em>
                    </p>
                    <hr>
                    <p class="card-text"><%= campground.description %></p>
                    <div class="float-right">
                        <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-sm btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                            <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-sm btn-danger">Delete</button>
                            </form>
                        <% } %>
                    </div>    
                </div>
            </div>
            
            
            <!--<div class="card">-->
                <!--<div class="card-body">-->
                    <div class="text-right mb-2">
                        <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
                    </div>
                <!--</div> -->
            <!--</div>-->
                    <div class="row">
                        <% campground.comments.forEach(function(comment){ %>
                            <div class="col-md-12 mb-2">
                                <div class="card bg-light">
                                    <div class="card-body">
                                        <p class="float-right text-muted"><%= moment(comment.createdAt).fromNow() %></p>
                                        <p class="card-title"><strong><%= comment.author.username %></strong></p>
                                            <p class="card-text"><%= comment.text %></p>
                                            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                                                <div class="float-right">
                                                    <a class="btn btn-sm btn-warning" 
                                                    href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">
                                                    Edit
                                                    </a>
                                                    <form class="delete-form" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                                        <input type="submit" class="btn btn-sm btn-danger" value="Delete">
                                                    </form>
                                                </div>
                                            <% } %>
                                    </div>    
                                </div>
                            </div>  
                        <% }); %>
                    </div>
                
            
        </div>
    </div>

<% include ../partials/footer %>
