<% include ../partials/header %>
<div id="main" class="container">
    <div class="row">
        <div class="col-md-3 order-2 order-md-1 py-1 pl-0 pr-1">
            <!--<div class="list-group mb-2">-->
            <!--    <li class="list-group-item active">Info 1</li>-->
            <!--    <li class="list-group-item">Info 2</li>-->
            <!--    <li class="list-group-item">Info 3</li>   -->
            <!--</div>-->
            <!-- <div><p class="mb-0"><i class="fas fa-arrow-circle-down"></i> <%= campground.location %></p></div> -->
            <div class="mb-1 blackOpacityBg" id="map"></div>
            <!-- <div><p class="mb-0"><i class="fas fa-arrow-circle-up"></i> Click the red marker to view the address.</p></div> -->
		</div>
        
        <div class="col-md-9 order-1 order-md-2 pt-1 pb-0 px-0">
            <!-- <h4 class="m-0 py-0 text-center"><a href="<%= campground.image %>" class="showPageCampName"><%= campground.name %></a></h4> -->
            <div class="d-flex justify-content-center rounded-0 border border-bottom-0 border-secondary blackOpacityBg">
                <div class="p-0">
                    <div class="card darkBg rounded-0">
                        <img src="<%= campground.image %>" class="card-img rounded-0 showPageImage" alt="<%= campground.name %>">
                    </div>
                </div>
            </div>
            <div class="card darkBg border border-secondary rounded-0">
                <div class="darkTransparentBg">
					<div class="p-1">
						<a href="<%= campground.image %>" class="showPageCampName text-danger"><%= campground.name %></a>
						<div>
							<span class="<% if (campground.rating > 0.5) { %> fas fa-star checked <% } else { %> far fa-star uncheckedStar <% } %>"></span>
							<span class="<% if (campground.rating > 1.5) { %> fas fa-star checked <% } else { %> far fa-star uncheckedStar <% } %>"></span>
							<span class="<% if (campground.rating > 2.5) { %> fas fa-star checked <% } else { %> far fa-star uncheckedStar <% } %>"></span>
							<span class="<% if (campground.rating > 3.5) { %> fas fa-star checked <% } else { %> far fa-star uncheckedStar <% } %>"></span>
							<span class="<% if (campground.rating > 4.5) { %> fas fa-star checked <% } else { %> far fa-star uncheckedStar <% } %>"></span>
							<span><strong><%= campground.rating.toFixed(1) %></strong></span>
							<span>(<%= campground.reviews.length %> ratings)</span>
						</div>
					</div>
					<hr class="my-0">
                    <div class="p-1">   
                        <!--<h5 class="card-title font-weight-bold camp_name_show"><%= campground.name %></h5>-->
                        
                        <% if(campground.price != 0){ %>
						<div><span class="text-warning">$</span> <%= campground.price %> USD/night</div>
						<% } %>
						<% if(campground.price == 0){ %>
							<div class="text-success">free</div>
						<% } %>
                    </div>
                    
                    <hr class="my-0">
					
					<div class="p-1">
						<i class="fas fa-map-marker-alt text-info"></i>&nbsp; <%= campground.location %>
					</div>	
					
                    <hr class="my-0">
					
					<div class="text-muted pb-1">
						<em>Submitted By <a href="/users/<%= campground.author.id %>"><%= campground.author.username %></a>, <span class="d-inline-block"><%= moment(campground.createdAt).fromNow() %></span></em>
					</div>
					<div class="card-text contentFontSize p-1">
						<%= campground.description %>
					</div>
                    
                    <% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser &&  currentUser.isAdmin){ %>
						<div class="text-right">
							<!--Edit campground button-->
							<button type="button" class="btn btn-outline-success border-0 rounded-sm" data-toggle="modal" data-target="#addCampModal">
							  	<i class="fas fa-pen"></i>
							</button>
                            <!--Delete campground button-->
                            <!-- <form class="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-outline-light border-0 rounded-sm" title="Delete"><i class="far fa-trash-alt"></i></button>
                            </form> -->
							<button type="button" class="btn btn-outline-light border-0 rounded-sm" data-toggle="modal" data-target="#campDeleteModal">
								 <i class="far fa-trash-alt"></i>
							</button>
                        </div> 
						
                    <% } %>
                </div>
            </div>
        </div>
    </div>    
    <!-- <div class=" row justify-content-end"> 
    <div class="col-md-9">
        <div class="text-center">
            <a class="btn btn-outline-success btnOutlineGreen my-4" 
                href="/campgrounds"
                title="Go back to home page">
                <i class="fas fa-chevron-left"></i> 
                Go back
                <i class="fas fa-home"></i>
            </a>
        </div>
    </div>
    </div>     -->

    <div class="row justify-content-end"> 
    <div class="col-md-9 px-0">
		<div id="addReviewPosition">
			<div class="text-center py-2"
					<% if (currentUser && campground.reviews.some
					(function (review) {
					return review.author.id.equals(currentUser._id)})) { %>
					 style="display: none;" <% } %>>

				<h5 class="mb-0 text-danger">Rate & Review</h5>
				<p class="text-muted mb-2">Share your experience</p>
				<div>
					<button id="starBtn1" type="button" data-toggle="modal" data-target="#addReviewModal"
						class="bg-transparent border-0">
						<!-- <i class="fas fa-plus"></i> -->
						<i class="far fa-star starBtnSize"></i>
					</button>
					<button id="starBtn2" type="button" data-toggle="modal" data-target="#addReviewModal"
						class="bg-transparent border-0">
						<!-- <i class="fas fa-plus"></i> -->
						<i class="far fa-star starBtnSize"></i>
					</button>
					<button id="starBtn3" type="button" data-toggle="modal" data-target="#addReviewModal"
						class="bg-transparent border-0">
						<!-- <i class="fas fa-plus"></i> -->
						<i class="far fa-star starBtnSize"></i>
					</button>
					<button id="starBtn4" type="button" data-toggle="modal" data-target="#addReviewModal"
						class="bg-transparent border-0">
						<!-- <i class="fas fa-plus"></i> -->
						<i class="far fa-star starBtnSize"></i>
					</button>
					<button id="starBtn5" type="button" data-toggle="modal" data-target="#addReviewModal"
						class="bg-transparent border-0">
						<!-- <i class="fas fa-plus"></i> -->
						<i class="far fa-star starBtnSize"></i>
					</button>
				</div>
			</div>
		</div>
        <!-- <div class="d-flex justify-content-between mx-0 mt-4 px-1" id="editReviewPosition"> -->
		<div class="mt-2 pl-1">
			<h5>Reviews</h5>
		</div>
			<!-- Add review button -->
            <!-- <div id="addReviewPosition"> -->
			
            <!-- </div>     -->
        <!-- </div> -->
		
		
			
        <!-- <hr class="mt-0 mb-1"> -->
        
        	<% if(!(campground.reviews.length)) { %>
            	<p><em class="text-muted">No reviews yet.</em></p>
			<% } %>
        
			<% campground.reviews.forEach(function(review){ %>
				<% if(currentUser && review.author.id.equals(currentUser._id)){ %>
					<hr class="mt-1 mb-0">
					<div class="px-1">
						<span class="darkTransparentBg"><em>Your review</em></span>
						<div>
							<%- '<span class="fas fa-star checked"></span>'.repeat(review.rating) %>
							<%- '<span class="far fa-star uncheckedStar"></span>'.repeat(5 - review.rating) %>
						</div>
						<div>
							
							<span><a href="/users/<%= review.author.id %>"><%= review.author.username %></a>,</span>
							<em class="text-muted review-date pl-1 d-inline">
								<%= moment(review.updatedAt).fromNow() %>
							</em>
						</div>
						<div class="contentFontSize">
							<%= review.text %>
						</div>

						<div>						
							<!-- Edit review button -->
							<button type="button" class="btn btn-outline-success border-0 rounded-sm" data-toggle="modal" data-target="#editReviewModal<%= review._id %>">
								<i class="fas fa-pen"></i>
							</button>

							<!-- Delete review button -->
							<button type="button" class="btn btn-outline-light border-0 rounded-sm" data-toggle="modal" data-target="#deleteReview">
								 <i class="far fa-trash-alt"></i>
							</button>
						</div>

						<!--Edit review modal START-->
						<div class="modal fade bd-example-modal-lg" id="editReviewModal<%= review._id %>" tabindex="-1" role="dialog" aria-labelledby="editReviewModallabel<%= review._id %>" aria-hidden="true">
							<div class="modal-dialog modal-lg" role="document">
								<div class="modal-content dialogBg">
									<div class="modal-header py-1">
										<h5 class="modal-title text-light" id="editReviewModallabel<%= review._id %>">Edit review</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>	
									</div>
									<div class="modal-body pt-1">
										<form id="edit-review-form<%= review._id %>"
											action="/campgrounds/<%= campground._id %>/<%= review._id %>?_method=PUT#addReviewPosition"
											method="POST">
											
											<fieldset class="starability-basic mb-0">
													<!-- <button class="clear-rating d-block border-0 mb-2" type="button">Clear Rating (0 star)</button> -->
												  <!-- <input form="edit-review-form<%= review._id %>" type="radio" id="author-edit-rate0" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." /> -->
												  <input form="edit-review-form<%= review._id %>" type="radio" id="author-edit-rate1" name="review[rating]" value="1" />
												  <label for="author-edit-rate1" title="Terrible">1 star</label>
												  <input form="edit-review-form<%= review._id %>" type="radio" id="author-edit-rate2" name="review[rating]" value="2" />
												  <label for="author-edit-rate2" title="Not good">2 stars</label>
												  <input form="edit-review-form<%= review._id %>" type="radio" id="author-edit-rate3" name="review[rating]" value="3" />
												  <label for="author-edit-rate3" title="Average">3 stars</label>
												  <input form="edit-review-form<%= review._id %>" type="radio" id="author-edit-rate4" name="review[rating]" value="4" />
												  <label for="author-edit-rate4" title="Very good">4 stars</label>
												  <input form="edit-review-form<%= review._id %>" type="radio" id="author-edit-rate5" name="review[rating]" value="5" />
												  <label for="author-edit-rate5" title="Amazing">5 stars</label>
	
											</fieldset>

											<div class="form-group my-1">
												<textarea class="form-control inputTextBlack" name="review[text]"
														placeholder="Share details of your own experience at this place" form="edit-review-form<%= review._id %>" rows="6"><%= review.text %></textarea>
											</div>
											<div class="form-group my-1">
												<button class="btn btn-success rounded-sm btn-block">UPDATE</button>
											</div>
										</form>
										
										<script>
											$('#author-edit-rate<%= review.rating %>').prop('checked', true);
										</script>
										
									</div>
								</div>
							</div>
						</div>
						<!--Edit review modal END--> 

						<!-- Delete review modal START-->
						<div class="modal fade" id="deleteReview" tabindex="-1" role="dialog" aria-labelledby="deleteReviewLabel" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content dialogBg">
									<div class="modal-header py-1">
										<h5 class="modal-title text-light" id="deleteReviewLabel">Delete review?</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										  <span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<h5 class="font-weight-normal">Are you sure you want to permanently remove this review from YelpCamp?</h5>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-outline-light btn-sm rounded-sm" data-dismiss="modal">Cancel</button>
										<form class="delete-form" action="/campgrounds/<%=campground._id %>/<%=review._id %>?_method=DELETE#addReviewPosition" method="POST">
											<button class="btn btn-danger rounded-sm btn-sm" title="Delete">Delete</button>
										</form>
									</div>
								</div>
							</div>
						</div>
						<!-- Delete review modal END -->
						<!-- <hr class="my-1"> -->
					</div>
		
				<% } %>
			<% }); %>
			
            <% campground.reviews.forEach(function(review){ %>
				<% if(currentUser && (!(review.author.id.equals(currentUser._id)))){ %>
					<hr class="my-1">
					<div class="px-1">
						<div>
							<%- '<span class="fas fa-star checked"></span>'.repeat(review.rating) %>
							<%- '<span class="far fa-star uncheckedStar"></span>'.repeat(5 - review.rating) %>
						</div>
						<div>
							<!-- <i class="fas fa-user"></i> -->
							<!--<div class="card darkBg border-0">-->
							<!--    <img src="<%= review.author.avatar %>" class="card-img-top rounded-sm" style="max-width:60px;" alt="user profile image">-->
							<!--</div>-->
							<span><a href="/users/<%= review.author.id %>"><%= review.author.username %></a>,</span>
							<em class="text-muted review-date pl-1 d-inline">
								<%= moment(review.updatedAt).fromNow() %>
							</em>
						</div>
						<div class="contentFontSize">
							<%= review.text %>
						</div>
					</div>
					<% if(currentUser &&  currentUser.isAdmin){ %>
						<div>						
							<!-- Edit review button -->
							<button type="button" class="btn btn-outline-success border-0 rounded-sm" data-toggle="modal" data-target="#editReviewModal<%= review._id %>">
								<i class="fas fa-pen"></i>
							</button>

							<!-- Delete review button -->
							<button type="button" class="btn btn-outline-light border-0 rounded-sm" data-toggle="modal" data-target="#adminDeleteReviewModal<%= review._id %>">
								 <i class="far fa-trash-alt"></i>
							</button>
						</div>
		
						<!--Admin edit review modal START-->
						<div class="modal fade bd-example-modal-lg" id="editReviewModal<%= review._id %>" tabindex="-1" role="dialog" aria-labelledby="editReviewModallabel<%= review._id %>" aria-hidden="true">
							<div class="modal-dialog modal-lg" role="document">
								<div class="modal-content dialogBg">
									<div class="modal-header py-1">
										<h5 class="modal-title text-light" id="editReviewModallabel<%= review._id %>">Edit review</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>	
									</div>
									<div class="modal-body pt-1">
										<form id="admin-edit-review-form<%= review._id %>"
											action="/campgrounds/<%= campground._id %>/<%= review._id %>?_method=PUT#addReviewPosition"
											method="POST">
											
											<fieldset class="starability-basic mb-0">
													<!-- <button class="clear-rating d-block border-0 mb-2" type="button">Clear Rating</button> -->
												  <!-- <input form="admin-edit-review-form<%= review._id %>" type="radio" id="admin-edit-rate0<%= review._id %>" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." /> -->
												  <input form="admin-edit-review-form<%= review._id %>" type="radio" id="admin-edit-rate1<%= review._id %>" name="review[rating]" value="1" />
												  <label for="admin-edit-rate1<%= review._id %>" title="Terrible">1 star</label>
												  <input form="admin-edit-review-form<%= review._id %>" type="radio" id="admin-edit-rate2<%= review._id %>" name="review[rating]" value="2" />
												  <label for="admin-edit-rate2<%= review._id %>" title="Not good">2 stars</label>
												  <input form="admin-edit-review-form<%= review._id %>" type="radio" id="admin-edit-rate3<%= review._id %>" name="review[rating]" value="3" />
												  <label for="admin-edit-rate3<%= review._id %>" title="Average">3 stars</label>
												  <input form="admin-edit-review-form<%= review._id %>" type="radio" id="admin-edit-rate4<%= review._id %>" name="review[rating]" value="4" />
												  <label for="admin-edit-rate4<%= review._id %>" title="Very good">4 stars</label>
												  <input form="admin-edit-review-form<%= review._id %>" type="radio" id="admin-edit-rate5<%= review._id %>" name="review[rating]" value="5" />
												  <label for="admin-edit-rate5<%= review._id %>" title="Amazing">5 stars</label>
											</fieldset>

											<div class="form-group my-1">
												<textarea class="form-control inputTextBlack" name="review[text]"
														placeholder="Share details of your own experience at this place" form="admin-edit-review-form<%= review._id %>" rows="6"><%= review.text %></textarea>
											</div>
											<div class="form-group my-1">
												<button class="btn btn-success rounded-sm btn-block">UPDATE</button>
											</div>
										</form>
										
										<script>
											$('#admin-edit-rate<%= review.rating %><%= review._id %>').prop('checked', true);
										</script>
									</div>
								</div>
							</div>
						</div>
						<!--Admin edit review modal END--> 

						<!-- Admin delete review modal START-->
						<div class="modal fade" id="adminDeleteReviewModal<%= review._id %>" tabindex="-1" role="dialog" aria-labelledby="adminDeleteReviewModalLabel<%= review._id %>" aria-hidden="true">
							<div class="modal-dialog" role="document">
								<div class="modal-content dialogBg">
									<div class="modal-header py-1">
										<h5 class="modal-title text-light" id="adminDeleteReviewModalLabel<%= review._id %>">Delete review?</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										  <span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body">
										<h5 class="font-weight-normal">Are you sure you want to permanently remove this review from YelpCamp?</h5>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-outline-light btn-sm rounded-sm" data-dismiss="modal">Cancel</button>
										<form class="delete-form" id="delete-review-form-admin<%= review._id %>" action="/campgrounds/<%=campground._id %>/<%=review._id %>?_method=DELETE#addReviewPosition" method="POST">
											<button class="btn btn-danger rounded-sm btn-sm" title="Delete">Delete</button>
										</form>
									</div>
								</div>
							</div>
						</div>
						<!-- Admin delete review modal END -->
					<% } %>
                <!-- <hr class="my-1"> -->
				<% } %>		
            <% }); %>
		
			<% if(!currentUser){ %>
				<% campground.reviews.forEach(function(review){ %>
				<hr class="my-1">
				<div class="px-1">
					<div>
						<%- '<span class="fas fa-star checked"></span>'.repeat(review.rating) %>
						<%- '<span class="far fa-star uncheckedStar"></span>'.repeat(5 - review.rating) %>
					</div>
					<div>
						<!-- <i class="fas fa-user"></i> -->
						<!--<div class="card darkBg border-0">-->
						<!--    <img src="<%= review.author.avatar %>" class="card-img-top rounded-sm" style="max-width:60px;" alt="user profile image">-->
						<!--</div>-->
						<span><a href="/users/<%= review.author.id %>"><%= review.author.username %></a>,</span>
						<em class="text-muted review-date pl-1 d-inline">
							<%= moment(review.updatedAt).fromNow() %>
						</em>
					</div>
					<div class="contentFontSize">
						<%= review.text %>
					</div>
				</div>
                <!-- <hr> -->
            	<% }); %>	
			<% } %>		   
            
        <div class="text-center m-3">
            <a href="/campgrounds/<%= campground._id %>/reviews" class="btn btn-outline-secondary btnOutlineGreen disabled"> 
                <i class="fas fa-plus"></i>
                See more reviews
            </a>
        </div>
    </div>
    </div>
	
    <!-- Map script -->
	<script>
		function initMap() {
            var lat = <%= campground.lat %>;
            var lng = <%= campground.lng %>;
            var center = {lat: lat, lng: lng };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 8,
                center: center,
                scrollwheel: false
            });
            var contentString = `
              <strong><%= campground.location %></strong>
            `
            var infowindow = new google.maps.InfoWindow({
              content: contentString
            });
            var marker = new google.maps.Marker({
                position: center,
                map: map
            });
            marker.addListener('click', function() {
                infowindow.open(map, marker);
            });
        }
	</script>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= publicMapKey %>"></script>
    
</div> 

<% include ../partials/edit-campground-modal %>
<% include ../partials/add-review-modal %>
<% include ../partials/footer %>
