<% include ../partials/header %>
<div id="main">
<div class="container">
     <div class="row py-2">
        <div class="col-md-6 col-lg-5">
            <div class="d-flex justify-content-center">
                <div class="card darkBg border-0">
					<div class="avatarImg">
						<button type="button" class="btn btn-transparent p-0" data-toggle="modal" data-target="#exampleModal">
						<!-- <a href="<%= user.avatar %>" class="avatarStyle"> -->
							<img src="<%= user.avatar %>" class="card-img-top avatarCard" alt="user profile image">
							<!-- <button class="avatarDelete" title="Delete avatar" data-toggle="modal" data-target="#deleteAvatarModal"><span aria-hidden="true">&times;</span></button> -->
							<div class="avatarViewBlock">
								<p class="avatarView">View</p>
							</div>
						<!-- </a> -->
						</button>
					</div>
                </div>
            </div> 
			<!--View avatar modal START -->
			<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			  	<div class="modal-dialog" role="document">
					<div class="modal-content text-light" style="background-color: black;">
				  		<div class="modal-header py-1 border-0">
							<h5 class="modal-title" id="exampleModalLabel"><%= user.username %></h5>
							<button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
							  	<span aria-hidden="true">&times;</span>
							</button>
				  		</div>
						<div class="modal-body text-center p-0">
							<img src="<%= user.avatar %>" class="avatarModalSize" alt="user profile image">  
						</div>
					</div>
			  	</div>
			</div>
			<!--View avatar modal END -->
			
            <div>
                <% if((currentUser && user._id.equals(currentUser._id)) || (currentUser && currentUser.isAdmin)){ %>
					<div class="text-center">									
						<a href="mailto:<%= user.email %>" class="text-light"><%= user.email %></a>
						<span>
							<!-- <a class="btn btn-outline-warning border-0 rounded-sm" 
								role="button" data-toggle="collapse" 
								href="#collapseEdit" 
								aria-expanded="false" aria-controls="collapseEdit"
								title="Edit profile">
								<i class="fas fa-pen"></i>
							</a> -->
							<!--Delete avatar button-->
							<!--<form class="delete-form" action="/users/<%= user._id %>?_method=DELETE" method="POST">-->
							<!--    <button class="btn btn-outline-secondary border-0 rounded-sm" title="Delete"><i class="fas fa-trash-alt"></i></button>-->
							<!--</form>-->
							
							<!-- Edit profile button -->
							<button type="button" class="btn btn-outline-success border-0 rounded-sm px-2 py-1" data-toggle="modal" data-target="#editProfileModal">
							  	<i class="fas fa-user-edit"></i>
							</button>
							<!-- Delete avatar button -->
							<button type="button" class="btn btn-outline-light border-0 rounded-sm" title="Delete avatar" data-toggle="modal" data-target="#deleteAvatarModal">
								 <i class="far fa-trash-alt"></i>
							</button>
						</span>
					</div>	
				
					<!-- Edit profile modal START -->
					<div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="editProfileModalLabel" aria-hidden="true">
					  	<div class="modal-dialog" role="document">
							<div class="modal-content dialogBg">
						  		<div class="modal-header py-1">
									<h5 class="modal-title text-light" id="editProfileModalLabel">Edit profile</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									  	<span aria-hidden="true">&times;</span>
									</button>
						  		</div>
						  		<div class="modal-body py-1">
									<form id="edit-campground-form" 
                                    		action="/users/<%= user._id %>?_method=PUT" 
                                    		method="POST" enctype="multipart/form-data">
                                		<div class="form-group mb-0">
											<label for="email" class="m-0">Email:</label>
											<div class="input-group input-group-sm">
												<input class="form-control" type="email" 
													name="email" id="email" 
													form="edit-campground-form" 
													value="<%= user.email %>" autofocus>
											</div>
										</div>

										<div class="form-group mb-2">
											<label for="avatar" class="m-0">Change avatar:</label>
											<div>
												<input class="form-control-file bg-transparent" type="file" name="avatar" id="avatar" 
												form="edit-campground-form" 
												value="<%= user.avatar %>" accept="image/*">
											</div>
										</div>
										<div class="form-group text-right">
											<button class="btn btn-sm btn-success btn-block">UPDATE</button>
										</div>
									</form>
									<!--Delete avatar button-->
									<!-- <form class="delete-form" action="/users/<%= user._id %>?_method=DELETE" method="POST">
										<button class="btn btn-sm btn-danger btn-block rounded-sm" title="Delete avatar">DELETE AVATAR</button>
									</form> -->
						  		</div>
							</div>
					  	</div>
					</div>
                	<!-- Edit profile modal END     -->
				
					<!-- Delete avatar modal START-->
					<div class="modal fade" id="deleteAvatarModal" tabindex="-1" role="dialog" aria-labelledby="deleteAvatarModalLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content dialogBg">
								<div class="modal-header py-1">
									<h5 class="modal-title text-light" id="deleteAvatarModalLabel">Delete avatar?</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									  <span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body py-1">
									<h5 class="font-weight-normal">Are you sure you want to permanently remove this avatar from YelpCamp?</h5>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-outline-light btn-sm rounded-sm" data-dismiss="modal">Cancel</button>
									<form class="delete-form" action="/users/<%= user._id %>?_method=DELETE" method="POST">
										<button class="btn btn-danger rounded-sm btn-sm" title="Delete avatar">Delete</button>
									</form>
								</div>
							</div>
						</div>
					</div>
					<!-- Delete avatar modal END-->
                <% } %>
            </div>
            <!--<p>Bio</p>-->
        </div>
        
        <div class="col-md-6 col-lg-7 p-0">
            <hr class="d-block d-md-none my-1">
            <h4 class="pl-2 py-1 text-danger"><%= user.username %>'s campgrounds:</h4>
            <!--<hr class="mt-0">-->
            <% if(campgrounds.length < 1){ %>
                <p class="pl-2"><em>No campgrounds yet.</em></p>
            <% } %>
            <ul class="pb-2">
                <% campgrounds.forEach(function(campground){ %>
                    <li>
                        <h5 class="font-weight-light campgroundList"><a href="/campgrounds/<%= campground.id %>" class="text-light"><%= campground.name %></a></h5>
                    </li>
                <% }); %>
            </ul>
        </div>
    </div>
</div>
</div>
<% include ../partials/footer %>