<% include ../partials/header %>
<div id="main">
<div class="container">
     <div class="row py-2">
        <div class="col-md-6 col-lg-5">
            <div class="d-flex justify-content-center">
                <div class="card darkBg border-0">
                    <a href="<%= user.avatar %>">
                        <img src="<%= user.avatar %>" class="card-img-top avatarCard rounded-sm" alt="user profile image">
                    </a>
                </div>
            </div>      
            <div>
                <% if(currentUser && user._id.equals(currentUser._id)){ %>
					<div class="text-center">									
						<a href="mailto:<%= user.email %>" class="text-light"><%= user.email %></a>
						<span>
							<a class="btn btn-outline-warning border-0 rounded-sm" 
								role="button" data-toggle="collapse" 
								href="#collapseEdit" 
								aria-expanded="false" aria-controls="collapseEdit"
								title="Edit profile">
								<i class="fas fa-pen"></i>
							</a>
							<!--Delete avatar button-->
							<!--<form class="delete-form" action="/users/<%= user._id %>?_method=DELETE" method="POST">-->
							<!--    <button class="btn btn-outline-secondary border-0 rounded-sm" title="Delete"><i class="fas fa-trash-alt"></i></button>-->
							<!--</form>-->
						</span>
					</div>	
                    
                    <!--Collapse edit user profile form START-->
                    <div class="collapse shadow-lg border border-left-0 border-secondary rounded-sm" id="collapseEdit">
                        <div class="collapse-edit-style darkTransparentBg p-2">
                            <h5 class="mb-2">Edit your profile:</h5>
                            <form id="edit-campground-form" 
                                    action="/users/<%= user._id %>?_method=PUT" 
                                    method="POST" enctype="multipart/form-data">
                                
                                <div class="form-group mb-0">
                                    <label for="email" class="m-0">Email:</label>
									<div class="input-group input-group-sm">
											<input class="form-control" type="email" 
												name="email" id="email" 
												form="edit-campground-form" 
												value="<%= user.email %>" autofocus>
									</div>
                                </div>

                                <div class="form-group mb-2">
                                    <label for="avatar" class="m-0">Avatar:</label>
                                    <div>
                                        <input class="form-control-file bg-transparent" type="file" name="avatar" id="avatar" 
                                        form="edit-campground-form" 
                                        value="<%= user.avatar %>" accept="image/*">
                                    </div>
                                </div>
                                <div class="form-group text-right">
                                    <button class="btn btn-sm btn-warning btn-block">UPDATE</button>
                                </div>
                            </form>
                            <!--Delete avatar button-->
                            <form class="delete-form" action="/users/<%= user._id %>?_method=DELETE" method="POST">
                                <button class="btn btn-sm btn-outline-danger btn-block rounded-sm" title="Delete avatar">DELETE AVATAR</button>
                            </form>
                        </div>
                    </div>   
                    <!--Collapse edit user profile form END-->
                <% } %>
            </div>
            <!--<p>Bio</p>-->
        </div>
        
        <div class="col-md-6 col-lg-7 p-0">
            <hr class="d-block d-md-none my-1">
            <h3 class="pl-2 py-1 pinkText"><%= user.username %>'s campgrounds:</h3>
            <!--<hr class="mt-0">-->
            <% if(campgrounds.length < 1){ %>
                <p class="pl-2"><em>No campgrounds yet.</em></p>
            <% } %>
            <ul class="pb-2">
                <% campgrounds.forEach(function(campground){ %>
                    <li>
                        <h5 class="font-weight-light campgroundList"><a href="/campgrounds/<%= campground.id %>" class="text-light"><%= campground.name %></a></h5>
                    </li>
                <% }); %>
            </ul>
        </div>
    </div>
</div>
</div>
<% include ../partials/footer %>