<% include ../partials/header %>
<div id="main">
<div class="container">
     <div class="row py-2">
        <div class="col-md-5">
            <div class="d-flex justify-content-center">
                <div class="card darkBg border-0">
                    <a href="<%= user.avatar %>">
                        <img src="<%= user.avatar %>" class="card-img-top avatarCard rounded-circle" alt="user profile image">
                    </a>
                </div>
            </div>
            
            
            <div class="text-center"><a href="mailto:<%= user.email %>"><%= user.email %></a></div>
            <div>
                <% if(currentUser && user._id.equals(currentUser._id)){ %>
                    <div class="text-right">
                        <a class="btn btn-outline-warning border-0 rounded-sm" 
                            role="button" data-toggle="collapse" 
                            href="#collapseEdit" 
                            aria-expanded="false" aria-controls="collapseEdit"
                            title="Edit">
                            <i class="fas fa-pen"></i>
                        </a>
                    </div>
                    
                    <!--Collapse edit user profile form START-->
                    <div class="collapse shadow-lg" id="collapseEdit">
                        <div class="collapse-edit-style darkTransparentBg p-2">
                            <h5>Edit your profile</h5>
                            <form id="edit-campground-form" 
                                    action="/users/<%= user._id %>?_method=PUT" 
                                    method="POST" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="avatar">Avatar:</label>
                                    <input class="form-control-file" type="file" name="avatar" id="avatar" 
                                    form="edit-campground-form" 
                                    value="<%= user.avatar %>" accept="image/*">
                                </div>
                                <div class="form-group text-right">
                                    <button class="btn btn-warning btn-block">UPDATE</button>
                                </div>
                            </form>
                        </div>
                    </div>    
                <% } %>
            </div>
            <!--<p>Bio</p>-->
        </div>
        
        <div class="col-md-7 p-0">
            <!--<hr class="my-0">-->
            <h3 class="pl-2 py-1"><%= user.username %>'s campgrounds:</h3>
            <!--<hr class="mt-0">-->
            <% if(campgrounds.length < 1){ %>
                <p class="pl-2">No campgrounds yet.</p>
            <% } %>
            <ul class="pb-2">
                <% campgrounds.forEach(function(campground){ %>
                    <li>
                        <h5 class="font-weight-light campgroundList"><a href="/campgrounds/<%= campground.id %>"><%= campground.name %></a></h5>
                    </li>
                <% }); %>
            </ul>
        </div>
    </div>
</div>
</div>
<% include ../partials/footer %>